<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace=" ">

  	
<!--   	<select id="selectAllBoard" resultType="BoardDTO" parameterType="int">
  		select * from io_board
  		limit #{startIndex},10
  	</select>
  	
  	<select id="countBoard" resultType="int">
  		select count(*)
		from io_board;
  	</select> 
-->
  	
  	<select id="selectSearchBoard" resultType="BoardDTO" parameterType="BoardDTO">
  		select * from io_board
		<trim prefix="where" prefixOverrides="AND">
			<if test="board_category != 100">and board_category = #{board_category}</if>
			<if test="board_type != 100">and board_type = #{board_type}</if>
		</trim>
		order by board_num desc
		limit #{board_hits},10
  	</select>
  	
  	

	<select id="countSearchBoard" resultType="int" parameterType="BoardDTO">
		select count(*) from io_board
		<trim prefix="where" prefixOverrides="AND">
			<if test="board_category != 100"> board_category = #{board_category}</if>
			<if test="board_type != 100">and board_type = #{board_type}</if>
		</trim>
	</select>
	
	
	<select id="selectBoardDetail" parameterType="int" resultType="BoardDTO">
		select * from io_board
		where board_num = #{board_num}
	</select>
	
	<insert id="insertBoard" parameterType="BoardDTO">
		insert into io_board 
		values (null,#{mem_id},#{board_title},#{board_content},now(),#{board_type},#{board_category},0);
	</insert>
	
	<select id="selectHit5" resultType="BoardDTO">
		select * from io_board 
		order by board_hits desc 
		limit 5;
	</select>
	
	<update id="upHit" parameterType="int">
		update io_board
		set board_hits = board_hits+1 
		where board_num = #{board_num};
	</update>
	
	
	<!--dddddddddddddddddddddd Re Board dddddddddddddddddddddddddddddddd-->

	<insert id="insertReBoard" parameterType="ReBoardDTO">
		insert into io_reboard
		values (null,#{board_num},#{mem_id},#{comp_num},#{comp_id},#{reBoard_content},now())
	</insert>
	
	<select id="selectReBoard" parameterType="int" resultType="ReBoardDTO">
		select * from io_reboard
		where board_num = #{board_num}
	</select>
	
	<select id="countReBoardTop5" resultType="BoardDTO">
	select * from io_board
	where board_num in
		(	
			select * from 
			( select board_num from io_reboard
				group by board_num
				order by count(*) desc
	            limit 5
			) as tmp
        )
		
	</select>
  	
  	<select id="countReBoard">
  		select count(*) from io_reboard
  	</select>
  	
  	
  </mapper>