<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace=" ">
    <select id="selectAllCompBasic">
        select * from io_comp_basic
    </select>
    
    <select id="selectOneCompBasicByComp_num" parameterType="CBDTO">
        select * from io_comp_basic where comp_num = #{comp_num}
    </select>
  </mapper>