<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace=" ">
<!-- 등급별 검색 -->  
  <select id="selectNoticeByGrade" resultType="NoticeDTO" parameterType="int">
  	select * from io_notice
	where comp_num in
		(	
			select comp_num from io_comp_basic
            where comp_grade = #{comp_grade}
        )	
 </select>
 
<!-- 지역별 검색 -->
 <select id="selectNoticeByLocal" parameterType="int" resultType="NoticeDTO">
 	select * from io_notice 
 	<choose>
 		<when test="comp_adrs == 999999"></when>
 		<when test="comp_adrs == 101000">where notice_comp_adrs1 like '101%'</when>
 		<when test="comp_adrs == 102180">where notice_comp_adrs1 in (102180,102190,102200,102210)</when>
 		<when test="comp_adrs == 102220">where notice_comp_adrs1 in (102220,102230,102240,102250,102260)</when>
 		<otherwise>where notice_comp_adrs1 = #{comp_adrs}</otherwise>
 	</choose>
 	
 
 </select>
 
 <select id="selectNoticeByJob" parameterType="int" resultType="NoticeDTO">
 
 	select * from io_notice
 	
 	where notice_prcs_job = #{notice_prcs_job}
 	
 </select>

 <select id="selectNoticeByType" parameterType="int" resultType="NoticeDTO">
 
 	select * from io_notice
 	
 	where notice_comp_type = #{notice_comp_type}
 	
 </select>
 
 <select id="selectAllNoticeSearch" resultType="NoticeDTO">
 	select * from io_notice
 </select>
 
 <select id="selectNoticeDetailByNoticeNum" parameterType="int" resultType="NoticeDTO">
 	select * from io_notice where notice_num =#{notice_num}
 </select>
 
 <!-- 입사 지원 -->
 <insert id="insertIoApply" parameterType="ApplyDTO">
 	insert into io_apply 
 	values (null,#{res_num},#{mem_id},#{notice_num},#{comp_num},#{comp_id},'지원',now(),#{mem_birth},#{mem_sex},#{res_income},#{mem_name},#{res_title},#{comp_name},#{notice_title}  );
 </insert>
 
 <!-- payOk -->
 <update id="payOk" parameterType="CBDTO">
 	update io_comp_basic
 	set comp_grade = ${comp_grade}
 	where comp_num = ${comp_num}
 </update>
 
 <!-- 메인 카운트 -->
 <select id="countNotice" resultType="int">
	select count(*) from io_notice
</select>
<select id="countComp" resultType="int">
	select count(*) from io_comp_basic
</select>
<select id="countMem" resultType="int">
	select count(*) from io_member
</select>

<!-- 메인 검색 아이콘별-->
<!-- <select id="selectMainIcon" parameterType="int" resultType="NoticeDTO">
	select * from io_notice
	where notice_prcs_job like 'CONCAT(‘%’, #{comp_job}, ‘%’)'
</select>  -->

<!-- 인재검색 해보자 -->

<select id="selectSearchMember" resultType="ResumeDTO" parameterType="ResumeDTO">
	
		select * from io_resume
		<trim prefix="where" prefixOverrides="AND">
			<if test="res_total_career != 100"> res_total_career =#{res_total_career} </if>
			<if test="res_income != 100">and res_income =#{res_income} </if>
			
			<if test="res_rep_too == 1">and res_rep_too like '1__' </if>
			<if test="res_rep_too == 2">and res_rep_too like '2__' </if>
			<if test="res_rep_too == 3">and res_rep_too like '3__' </if>
			<if test="res_rep_too == 4">and res_rep_too like '4__' </if>
			<if test="res_rep_too == 11">and res_rep_too like '11__' </if>
			<if test="res_rep_too == 12">and res_rep_too like '12__' </if>
			
			<if test="res_workarea ==1">and res_workarea like '101%' </if>
			<if test="res_workarea ==2">and res_workarea in (102180,102190,102200,102210) </if>
			<if test="res_workarea ==3">and res_workarea in (102220,102230,102240,102250,102260) </if>
			
		</trim>
	
</select>

<!-- 지원 대기중인 지원자 수  -->
<select id="countApplyStatus" parameterType="String" resultType="int">
	select count(*) from io_apply
	where comp_id = #{comp_id} and apply_status = '지원';
</select>

<!-- 추천 공고 ( 랜덤 )  -->
	<select id="selectRan4Main" resultType="NoticeDTO">
	  	select * from io_notice
		where comp_num in
			(	
				select comp_num from io_comp_basic
	            where comp_grade = 2
	        )
	    order by rand() limit 4    
	</select>


  </mapper>