<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace=" ">
  	
  	<select id="loginCheck" resultType="String">
  	
  	SELECT MEM_NAME FROM io_member
  	WHERE mem_id = #{mem_id} AND mem_pw = #{mem_pw}
  	
  
  	</select>
  
  	<select id="viewMember" resultType="MemberDTO">
  	
  	select 
  	mem_id,
  	mem_name,
  	mem_birth,
  	mem_email,
  	mem_phone,
  	mem_add,
  	mem_add1
  	 
  	from io_member
  	where mem_id = #{mem_id} and mem_pw = #{mem_pw}
  	
  	
  	</select>
  	
  	<insert id="insertOneRegister" parameterType="MemberDTO">
  	insert into io_member (mem_id, mem_pw, mem_email, mem_name, mem_birth, mem_phone, mem_sex, mem_add, mem_add1)
  	values (#{mem_id},#{mem_pw},#{mem_email},#{mem_name},#{mem_birth},#{mem_phone},#{mem_sex},#{mem_add},#{mem_add1})
  	
  	</insert>
  	
  	<select id="selectmember" resultType="MemberDTO">
  	select * from io_member
  	
  	
  	</select>
  	
  	<select id="TransferResume" parameterType="String" resultType="MemberDTO">
  	select * from io_member where mem_id = #{mem_id}
  	
  	
  	</select>
  
  
  	<insert id="InsertResume" parameterType="ResumeDTO">
  	
  	insert into io_resume
  	values (
  		null, #{mem_id})
  	
  	
  	</insert>
  
  </mapper>