<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
    <configuration>
        <typeAliases>
            <typeAlias type="kr.co.InOut.dto.IO_Comp_BasicDTO" alias="CBDTO"/>
            
            <typeAlias type="kr.co.InOut.dto.IO_NoticeDTO" alias="NoticeDTO"/>
        
        	<typeAlias type="kr.co.InOut.dto.IO_BoardDTO" alias="BoardDTO"/>
        	
        	<typeAlias type="kr.co.InOut.dto.IO_MemberDTO" alias="MemberDTO"/>
        	

        	<typeAlias type="kr.co.InOut.dto.IO_ResumeDTO" alias="ResumeDTO"/>

        	<typeAlias type="kr.co.InOut.dto.IO_ReBoardDTO" alias="ReBoardDTO"/>

			
			<typeAlias type="kr.co.InOut.dto.IO_UniversityDTO" alias="UniversityDTO"/>
			
			<typeAlias type="kr.co.InOut.dto.IO_CarrerDTO" alias="CareerDTO"/>
            <typeAlias type="kr.co.InOut.dto.IO_Comp_Notice_InfoDTO" alias="CNIDTO"/>
            <typeAlias type="kr.co.InOut.dto.IO_ApplyDTO" alias="ApplyDTO"/>
        </typeAliases>
        
        
    </configuration>