<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
    <configuration>
        <typeAliases>
            <typeAlias type="kr.co.InOut.dto.IO_Comp_BasicDTO" alias="CBDTO"/>
            
            <typeAlias type="kr.co.InOut.dto.IO_NoticeDTO" alias="NoticeDTO"/>
        
        	<typeAlias type="kr.co.InOut.dto.IO_BoardDTO" alias="BoardDTO"/>
        	
        	<typeAlias type="kr.co.InOut.dto.IO_MemberDTO" alias="MemberDTO"/>
        	
        	<typeAlias type="kr.co.InOut.dto.IO_ReBoardDTO" alias="ReBoardDTO"/>
        	<typeAlias type="kr.co.InOut.dto.IO_NoticeDTO" alias="IO_NoticeDTO"/>
        </typeAliases>
        
        
    </configuration>